body{
    background:#f2f2f2;
    font-family:Arial;
}

.container{
    width:320px;
    margin:50px auto;
    background:white;
    padding:15px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

table{
    width:100%;
    border-collapse:separate;
    border-spacing:8px;
}

th{
    background:#ff6b2c;
    color:white;
    padding:10px;
    font-size:14px;
}

td{
    background:#e6e6e6;
    padding:8px;
    text-align:center;
    font-size:13px;
    color: rgb(69, 69, 165);
}

tbody td:first-child{
    background:#d9d9d9;
    font-weight:bold;
}